<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 navbartop">
                {% include 'navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-2 sidebar">
                {% include 'adminsidebar.html' %}
            </div>
            <div class="col-9 main">
                <h2>Add Product</h2>


                <form action="/addingprod" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-10">
                            <dl class="row">
                                <dt class="col-sm-3">Product Name</dt>
                                <dd class="col-sm-9">
                                    <input type="text" name="name" class="form-control"></dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3">Product Image</dt>
                                <dd class="col-sm-9">
                                    <input name="pic" type="text" class="form-control" id="image" name="image">
                                </dd>
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3">Description</dt>
                                <dd class="col-sm-9">
                                    <textarea name="desc" class="form-control"></textarea>
                                </dd>

                                <dt class="col-sm-3">Category</dt>
                                <dd class="col-sm-9">


                                    {% for category in all_categories %}
                                    <div class="form-check">
                                        <input class="form-check-input" name="categories" type="checkbox" value="{{category.id}}" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            {{category.name}}
                                        </label>
                                    </div>
                                    {% endfor %}


                                </dd>

                                <dt class="col-sm-3">Stock</dt>
                                <dd class="col-sm-9">
                                    <input name="stock" class="form-control" type="text">
                                </dd>


                                <dt class="col-sm-3">Amount</dt>
                                <dd class="col-sm-9">
                                    <input name="amt" type="text" class="form-control">
                                </dd>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" type="submit">Add Product</button>
                                </div>
                            </dl>
                        </div>
                    </div>
                </form>
                <form action="/addcat" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-10">
                            <dl class="row">
                                <dt class="col-sm-3"><label for="category" id="category">Add Category</label></dt>
                                <dd class="col-sm-9">
                                    <input type="text" class="form-control" name="name" id="category">
                                </dd>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" type="submit">Create Category</button>
                                </div>
                            </dl>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>