<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Project</title>
    {% include 'headerimports.html' %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 navbartop">
                {% include 'navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-6 loginform">
                <h2>Dashboard</h2>
                <div class="list-group dashboard">
                    <a href="#" class="list-group-item list-group-item-action">New Orders</a>
                    <a href="/admin/products" class="list-group-item list-group-item-action">Products</a>
                    <a href="/admin/add_product" class="list-group-item list-group-item-action">Add Product</a>
                    <a href="/admin/store" class="list-group-item list-group-item-action">Edit Store</a>
                    <a href="#" class="list-group-item list-group-item-action">Past Orders</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>